$orange: #FF772B;
$vert: #B6FF1C;

.container-css {
  background-color: black;
  color:white;
  padding-top:1em;
  width: 100%;
  margin: 0, auto;
}

.form-card {
  margin: 0 auto !important;
  width: 600px;
  padding-bottom:20px;
}
.btn-update{
  background-color: $orange !important ;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  width: 200px;
  border: 0px !important;
  transition: all .2s ease-in-out;
}

.btn-update:hover{
  transform: scale(1.13)
}

.gif {
  width: 553px;
  height: 450px;
  border-radius: 30px;
  margin-left: 450px;
  margin-bottom: 20px;
}

.btn-gradnew {
  background-color: #B6FF1C;
  margin-top: 6px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
}

.btn-gradnew:hover {
  color: #4e4b4b;
  text-decoration: none;
}

.mapboxgl-ctrl-geocoder >input{
  color: white;
}

// TODO: css de l'input localisation
.font-w{
  background-color: black !important;
  color: white;
}

// .font-w:focus{
//   color: white;
// }
// .font-w:empty{
//   color: gray;
// }



// /* For tablets: */
// @media screen and (min-width: 600px) {
//   .container {
//     width: 75%; /* take 75% of the screen width */
//     max-width: 750px; /* maximum width is 750px */
//   }
// }
// /* For desktop: */
// @media screen and (min-width: 900px) {
//   .container {
//     width: 70%; /* take 70% of the screen width */
//     max-width: 960px; /* maximum width is 960px */
//   }
// }



// .cards-item{
//   background-color: black;
//   flex-direction: row;
//   justify-items: auto;
//   flex-wrap: wrap;
//   color:white;
// }
