// Specific CSS for your home-page
.fond {
  background-color: #000000;
  padding-bottom: 200px;
}

.title-home {
  color: #ffffff;
  font-family: 'Faster One', cursive;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 370px;
  text-align: justify;
}

.rondhp {
  position: absolute;
  width: 284%;
  height: 170%;
  top: 0;
  left: -400px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 600px / 550px;
}

.img-hp {
  position: absolute;
  z-index: 1;
  margin: -90px;
  width: 786px;
}

.parent {
  position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.texthp {
  margin: 123px;
  color: #ffffff;
}

.texthp > p {
  font-size: 20px;
  padding-bottom: 30px;
}


.btn-grad {
  background-color: #B6FF1C;
  margin-top: 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-decoration: none;
}

.btn-grad:hover {
  color: #4e4b4b;
  text-decoration: none;
}

.cardshp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardohp {
  flex-wrap: wrap;
  align-content: center;
}

.sort-button{
  color: white;
}
