// Specific CSS for your home-page
.fond {
  background-color: #312B2F;
  padding-bottom: 200px;
}

.title-home {
  color: #DAD2CF;
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 370px;
  text-align: justify;
}

.rondhp {
  position: absolute;
  width: 284%;
  height: 170%;
  top: 0;
  left: -400px;
  background: #DAD2CF;
  border-radius: 600px / 550px;
}

.img-hp {
  position: absolute;
  z-index: 1;
  margin: -90px;
  width: 786px;
}

.parent {
  position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.texthp {
  margin: 123px;
  color: #DAD2CF;
}

.texthp > p {
  font-size: 20px;
  padding-bottom: 30px;
}


.btn-grad {
  background-image: linear-gradient(to right, #DC3C18 0%, #DC3C18 51%, #DC3C18  100%);
  margin-top: 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.cardshp {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardohp {
  flex-wrap: wrap;
  align-content: center;
}
