// Import page-specific CSS files here.

@import "home";
@import "editcar";
@import "show-car";
@import "new_car";

.link_to{
  text-decoration: none;

}

.p-nocar{
  color: white;
  font-style: italic;
  margin-left: 50px;
  margin-top: 20px;
}
