// Import page-specific CSS files here.

@import "home";
@import "editcar";
@import "show-car";
@import "new_car";
@import "my-car-request";


.link_to{
  text-decoration: none;

}

.p-nocar{
  color: white;
  font-style: italic;
  margin-left: 50px;
  margin-top: 20px;
}

.mappy .mapboxgl-ctrl-geocoder > input:focus {
  color:black;
}
