.containernew{
  margin: auto;
  width: 1000px;
  margin-top: 1em;
  background-color: #DAD2CF;
  border-radius: 10px;
  padding: 42px;
  margin-bottom: 20px;
}

.background{
  height: 400px;
  background-size: cover;
  background-position: 0 -500px;
}

.titlenew {
  font-family: 'Playfair Display', serif;
}
