.containernew{
  margin: auto;
  width: 1000px;
  margin-top: 1em;
  background-color: #DAD2CF;
}

.background{
  height: 400px;
  background-size: cover;
  background-position: 0 -500px;
}

.titlenew {
  font-family: 'Playfair Display', serif;
}

bgnewcar {

}
