.fondshow {
  background-color: #000000;
  padding-bottom: 20px;
  height: 1000px;
}

.title-show {
  color: #ffffff;
  font-family: 'Faster One', cursive;
  font-size: 60px;
  margin-left: 123px;
}

.price-show{
  margin-left: 123px;
  font-size: 30px;
  color: #ffffff;
}

.price-day-show{
  font-size: 15px;
  font-style: italic;
}

.description-show {
  color: #ffffff;
  margin-left: 123PX;
  font-style: italic;
  height: 50px;
}

.marge {
  margin-left: 60px;
}

.rondshow {
  position: absolute;
    width: 150%;
    height: 150%;
    top: 50px;
    left: 70px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 300% / 300%;
}

.img-show {
  margin-top: 46px;
    margin-left: 56px;
    position: absolute;
    z-index: 1;
    width: 600px;
}

.parentshow {
  position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.textshow {
  margin-left: 123px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
}

.textshow > p {
  font-size: 20px;
  padding-bottom: 10px;
}


.btn-gradshow {
  background-color: #FF772B;
  margin-top: 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
}

.btn-gradshow:hover {
  color: #4e4b4b;
  text-decoration: none;
}

.btn-gradshowback {
  background-color: #B6FF1C;
  margin-top: 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-decoration: none;
}

.btn-gradshowback:hover {
    color: #4e4b4b;
    text-decoration: none;
}

.cardsshow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardoshow {
  flex-wrap: wrap;
  align-content: center;
  margin-right: 10px;
}

.select-date{
  padding: 10px;
  border-radius: 10px;
  margin-left: 123px;
  margin-right: 65px;
  margin-top: 10px;
  text-align: center;
  background-color: #000000;
  height: 260px;
  border: 1px solid #ffffff;
}

.p-form-show{
  color: #ffffff;
  font-size: 18px;
}

.btn-show {
  margin-left: 123px ;
  margin-top: 30px;
}
