<div class="fond">
  <h1 class="title-home">Bienvenue sur <br><span class="animate-border border-black"></span>
   Vrooum Vrooum Beaufs</h1>
   <div class="cardshp">
   <div class="cardohp">
      <div class="parent">
        <div class="rondhp"></div>
        <%=image_tag("carshomepage.png" , class:"img-hp")%>
      </div>
      </div>
      <div class="cardohp">
      <div class="texthp">
        <p>Le spécialiste de la location des plus belles voitures tunées chacal ! <br> Découvre vite toutes nos offres. <br> Par des passionnés, pour des passionnés. </p>
        <%= link_to "🔥VROOOOOOOUM🔥", cars_path, class: "btn-grad"%>
        </div>
    </div>
  </div>
</div>
