<div class="centre">
  <div class="cadre">
    <div class="container">
      <h1>Bienvenue sur VROOUM VROOUM BEAUFS</h1>
      <h3>Le spécialiste de la location des plus belles voitures tunées chacal</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/k9NS-sjq7sc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="intro-text">Découvre vite toutes nos offres, par des passionnés, pour des passionnés</p>
      <%= link_to "VROOOOOOOUM", cars_path, class: "btn-grad"%>
    </div>
  </div>
</div>
