.card-list{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: solid 1px white;
  background-color: #000000;
  border-radius: 30px;
  padding: 10px;
  margin: 10px
}

.img-card-list{
  height: 150px;
  background-color: #000000;
  width: auto;
  margin-right: 20px;
}

.card-list-description{
  display: flex;
}

.card-list-description-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  }

  h5{
    color: #ffffff;
    overflow: hidden;
    max-width: 700px;
    max-height: 50px;
  }

  p{
    font-style: italic;
    color: #ffffff;
  }
}

.card-list-booking{
  height: 100%;
  width: 18%;
}

.card-list-booking-details {
  margin-right: 20px;
}

.card-list-booking-2{
  height: 100%;
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondmyindex {
  background-color: #000000;
  padding: 60px;
  height: 100vh;
}

.h1myindex {
  color: #ffffff;
  padding-left: 20px;
  font-family: 'Faster One', cursive;
}

.btn-gradmyindex {
  background-color: #FF772B;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
  width: 188px;
}


.btn-gradmyindex:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-gradmyindex2 {
  background-color: #FF772B;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 18px 0px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
  width: 236px;
}


.btn-gradmyindex2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #4e4b4b;;
  text-decoration: none;
}

.btn-annuler {
  background-color: #B6FF1C;
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
  width: 219px;
  height: 56px;
}

.btn-annuler:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.p-status{
  color: #ffffff;
  margin: 3px;
}

.card-list a {
  text-decoration: none;
}

.booking-date {
  margin: 3px;
  color:#ffffff;
}

.booking-date-2 {
  margin: 3px;
  color: #ffffff;
}

.btn-gradshowmy {
  background-color: #FF772B;
  margin-top: 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
  display: block;
}

.btn-gradshowmy:hover {
  color: #4e4b4b;
  text-decoration: none;
}

.btn-gradshowmyg {
  background-color: #B6FF1C;
  margin-top: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-decoration: none;
  border: 0px !important;
  display: block;
}

.btn-gradshowmyg:hover {
  color: #4e4b4b;
  text-decoration: none;
}
