.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 37px;
  a {
    text-decoration: none;
  }
}

.content-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 10px;
}

.cardo {
  height: 400px;
  flex-wrap: wrap;
  align-content: center;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 11px;
  box-shadow: 0px 0px 6px 0px #FF772B;
}

.cardo:hover {
  color: #FF772B;
}

.fond-cards {
  background-color: #000000;
  padding-bottom: 20px;
  text-decoration: none;
}

.title-cards {
  padding-top: 30px;
  text-align: center;
  font-family: 'Faster One', cursive;
  color: #ffffff;
  padding-bottom: 20px;
}

.cardo > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.content-cards p {
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.content-cards > h5 {

  padding-bottom: 10px;
  font-family: 'Playfair Display', serif !important;
}

.title-descrition-cardo {
  overflow: hidden;
}

#descrition-paragraphe{
  color: #777;
}
#price-text {
  color: #777;
  opacity: .8;
  font-style: italic;
  font-size: 13px;
}
