.navbar-lewagon {
  position: sticky !important;
  top: 0 !important;
  justify-content: space-between;
  background: #000000;
  color: #ffffff;
  border-bottom: solid #ffffff;
  a {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #FF772B;
    background-color: #000000;
  }
}

.pnav {
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
