.navbar-lewagon {
  position: sticky;
  justify-content: space-between;
  background: #312B2F;
  color: #DAD2CF;
  border-bottom: solid #DAD2CF;
  a {
    color: #DAD2CF;
    padding-top: 4px;
  }
  a:hover {
    color: #DC3C18;
  }
}

.pnav {
  margin-right: 25px;
  margin-top: 12px;
  margin-bottom: 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
